.inputFile {
  display: none;
}

.inputLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  padding: 10px;

  border: 1px solid black;
  font-size: 18px;

  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.input-label:hover {
  color: white;
}

.visuallyHidden {
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}